<h1>First Observable</h1>


<app-one-observable #firstObs></app-one-observable>

<h1>Second Observable</h1>

<app-one-observable #secondObs></app-one-observable>

<h1>Operator </h1>

<button mat-raised-button color="primary" (click)="mergeOperation()" >merge</button>
&nbsp;
<button mat-raised-button color="primary" (click)="combineLatestOperation()" >combineLatest</button>
&nbsp;
<button mat-raised-button color="primary" (click)="raceOperation()" >race</button>
&nbsp;
<button mat-raised-button color="primary" (click)="forkJoinOperation()" >forkJoin</button>
&nbsp;
<button mat-raised-button color="primary" (click)="zipOperation()" >zip</button>

<h1><a href="{{urlApi}}" target="_blank">{{urlApi}}</a></h1>
<app-rx-visualizer
[rxName]="'FirstObservable'"
[rxName2]="'SecondObservable'"
[numberObservables]="3"
[rxName3]="combineName"
[data]="data1"
[data2]="data2"
[data3]="data3"
></app-rx-visualizer>



